.GameItem {
  display: flex;
  color: white;
  width: 10rem;
  height: 10rem;
  font-size: 3.2rem;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
