.ScorePanel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: white;
  background: rgb(174, 133, 202);
  border-left: 0.5rem solid rgb(161, 81, 214);
  min-width: 25rem;
}

.ScorePanel--bonuses {
  display: flex;
  padding: 2rem;
  font-size: 1.6rem;
  border-top: 0.2rem solid rgb(161, 81, 214);
  border-bottom: 0.2rem solid rgb(161, 81, 214);
}

.ScorePanel--bonus-title {
  flex-grow: 1;
}
