.ScoreTable {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.ScoreTable--row {
  display: flex;
  padding: 2rem;
  border-bottom: 0.2rem solid rgb(161, 81, 214);
  align-items: center;
}

.ScoreTable--row-header {
  background: rgb(161, 81, 214);
  font-size: 1.6rem;
}

.ScoreTable--column {
  flex-grow: 1;
  flex-basis: 0;
  font-size: 1.6rem;
}

.ScoreTable--column-left {
  text-align: left;
}

.ScoreTable--column-middle {
  text-align: center;
}

.ScoreTable--column-right {
  text-align: right;
}

.ScoreTable--game-item {
  display: flex;
  color: white;
  width: 5rem;
  height: 5rem;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
