.ScoreTotal {
  display: flex;
  padding: 2rem;
  font-size: 1.6rem;
}

.ScoreTotal--total {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ScoreTotal--total h3 {
  font-weight: normal;
  margin: 0;
}

.ScoreTotal--total p {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 2.4rem;
}

.ScoreTotal--new {
  display: flex;
  align-items: center;
}

.ScoreTotal--button {
  font-size: 1.6rem;
  padding: 2rem;
  border: 0.2rem solid rgb(161, 81, 214);
  background: rgb(161, 81, 214);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.ScoreTotal--button:hover {
  background: rgb(184, 127, 223);
}
